BLOG_ADMIN_PORT=4322
BLOG_ADMIN_USERNAME=admin
BLOG_ADMIN_PASSWORD=change-me
BLOG_ADMIN_SESSION_SECRET=change-me
BLOG_CONTENT_ROOT=/opt/blog-content
BLOG_REPO_ROOT=/opt/site-source
BLOG_DEPLOY_SERVICE=blog-deploy.service
